<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Remix Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <div id="nav">
        <ul>
            <li id="menuToggle">
                <i class="ri-menu-4-line"></i>
            </li>
            <a href="/" style="color: white;">
                <li>
                    <i class="ri-home-line"></i>
                </li>
            </a>
        </ul>
    </div>

    <div id="navLinks" class="sidebar">
        <ul>
            <li id="closs">
                <i class="ri-arrow-left-line"></i>
            </li>
            <li id="uploadBtn">
                <i class="ri-upload-2-line"></i> Upload
            </li>
            <li id="setupLP">
                <i class="ri-landscape-ai-fill"></i> Landing Page
            </li>
            <li id="allUsers">
                <i class="ri-group-line"></i>Users
            </li>
            <li id="allProducts">
                <i class="ri-product-hunt-fill"></i> All Products
            </li>
            <li id="orders">
                <i class="ri-list-ordered"></i> All Orders
            </li>
            <li>
                <i class="ri-settings-line"></i> site setting
            </li>
        </ul>
    </div>

    <section class="content">
        <!-- Upload New Product Form -->
        <div class="area" id="uploadForm">
            <h1>Upload New Product</h1>
            <form action="/api/up-product/upload-new" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label for="image">Select an Image</label>
                    <input type="file" name="image" required>
                </div>
                <div class="field">
                    <label for="title">Title</label>
                    <input type="text" name="title" required>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <input type="text" name="description">
                </div>
                <div class="field">
                    <label for="tag">product tag</label>
                    <input type="text" name="tags" placeholder="#hoodie #shoes" required>
                </div>
                <div class="field">
                    <label for="price">Price</label>
                    <input type="number" name="price" required>
                </div>
                <div class="field">
                    <label for="inStock">In Inventory</label>
                    <input type="number" name="inStock" min="1" required>
                </div>
                <div class="field">
                    <input type="submit" value="Upload Product">
                </div>
            </form>
        </div>

        <!-- Setup Landing Page -->
        <div class="area benner-section" id="landingPageSetup">
            <h1>Setup Landing Page</h1>
            <form action="/api/landingPageSetup/setupLandingPage" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label for="image">Select an Image</label>
                    <input type="file" name="landingPageBenner" required>
                </div>
                <input type="submit" value="Upload">
            </form>

            <!-- uploaded benner -->
            <div class="hero-images">
                <% if (benner.length> 0) { %>
                    <% benner.forEach((banner)=> { %>
                        <div class="hero-item">
                            <img src="/<%= banner.landingPageBanner %>" alt="hero banner">
                            <form action="/api/landingPageSetup/delete/<%= banner._id %>" method="POST">
                                <button>Delete</button>
                            </form>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No banner available</p>
                                <% } %>
            </div>

        </div>

        <!-- Manage All Customers -->
        <div class="area" id="userTable">
            <h1>Manage All Customers</h1>
            <table id="customers">
                <thead>
                    <tr>
                        <th>Created At</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%=user.createdAt %>
                            </td> <!-- Format date -->
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <button>Ban</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <!-- all products -->
        <div class="area" id="productCard">
            <h1>All Uploaded Products</h1>

            <div class="all-products">
                <% products.forEach(product=> { %>
                    <div class="card">
                        <img src="/<%= product.image %>" alt="<%= product.title %>">
                        <!-- <%= console.log(product.image) %> -->
                        <div class="container-details">
                            <h4><b>
                                    <%= product.title %>
                                </b></h4>
                            <p>
                                <%= product.description %>
                            </p>
                            <p>$<%= product.price %>
                            </p>
                            <p>
                                <%= product.inStock %> in stock
                            </p>
                            <p>
                            <ul>
                                <ul>
                                    <% product.tags.forEach(tag=> { %>
                                        <li>
                                            <%= tag %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </ul>
                            </p>
                            <form action="/api/up-product/delete/<%= product._id %>" method="POST"
                                onsubmit="return confirm('Are you sure you want to delete this product?')">
                                <button type="submit">Delete</button>
                            </form>


                        </div>
                    </div>
                    <% }) %>
                        <!-- Repeat Cards -->
            </div>
        </div>

        <!-- all orders -->
        <div class="area" id="allOrders">
            <h1>All orders</h1>
            <div class="container border">
                <div class="row">
                    <div class="col-xxl-6">
                        <!-- TODO: tomorow -->
                        <img src="" alt="" srcset="">
                    </div>
                    <div class="col-xxl-6"></div>
                </div>
            </div>


        </div>


    </section>

    <script src="/js/dashboard.js"></script>
</body>

</html>